.bicicletas-lista {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.bicicletas-lista h2 {
  margin-bottom: 2.5rem;
}

.bicicletas-lista ul {
  display: flex;
  gap: 2.5rem;
  padding: 0 1.25rem 1.25rem 1.25rem;
  max-width: 87.5rem;
  margin: 0 auto;
  overflow-x: auto;
}

#bicicleta .bicicletas-listas ul {
  padding: 0 0 1.25rem 0;
}

.bicicletas-lista li {
  min-width: 17.5rem;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 1rem;
}

.bicicletas-lista h3 {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 0.5rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: var(--cor-p1);
  transition: width 0.2s;
}

.bicicletas-lista a:hover h3::before {
  width: 1.5rem;
}

.bicicletas-lista li span {
  padding-left: 1.25rem;
}

@media (max-wiidth: 50rem) {
  .bicicletas-lista {
    padding-bottom: 3.75rem;
  }

  .bicicletas-lista ul {
    gap: 1.25rem;
  }
}
