body {
  margin: 0;
  font-family: Arial, Arial, Helvetica, sans-serif;
  color: #111;
}

h1,
ul,
h2,
h3,
p,
blockquote {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 0.25rem;
}
