.introducao-dg {
  background-color: var(--cor-12);
  color: var(--cor-0);
  box-shadow: inset 0 -7.5rem var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2.5rem;
  max-width: 75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 12.5rem;
}

.introducao img {
  height: 100%;
  object-fit: cover;
}

.introducao h1 {
  margin-bottom: 2rem;
}

.introducao h1 span {
  color: var(--cor-p1);
}

.introducao p {
  margin-bottom: 1.25rem;
}

@media (max-width: 75rem) {
  .introducao h1 {
    font-size: 3rem;
  }

  .introducao p {
    font-size: 1.125rem;
  }
}
@media (max-width: 50rem) {
  .introducao-dg {
    background-color: var(--cor-11);
    padding-top: 2.5rem;
    box-shadow: inset 0 -3.75rem var(--cor-0);
  }
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-conteudo {
    padding: 0;
  }

  .introducao h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .introducao img {
    height: 18.75rem;
    width: 100%;
  }
}
